Source: fricas
Section: contrib/math
Priority: optional
Maintainer: Waldek Hebisch <hebisch@math.uni.wroc.pl>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.1.0

Package: fricas
Architecture: any
Depends: ${shlibs:Depends}, gawk, xterm, util-linux
Description: FriCAS is an advanced computer algebra system.  Its
 capabilities range from calculus (integration and differentiation)
 to abstract algebra.  It can plot functions and has integrated help
 system.  FriCAS a fork of Axiom project -- its starting point was
 wh-sandbox branch of the Axiom project.

