*.a
*.clisp
*.daase
*.DAASE/
*.erlib/
*.fasl
*.NRLIB/
*.o
.DS_Store

build/

config.log
config.status
config/fricas_c_macros.h
config_cl.out

contrib/emacs/efricas
contrib/emacs/fricas-cpl.el
contrib/emacs/fricas-cpl.in
contrib/macos/sbcl-*-darwin
contrib/macos/sbcl-*-darwin-binary.tar.bz2
contrib/macos/Fricas.app
lastBuildDate

Makefile

src/aldor/*.lsp
src/aldor/*.lst
src/aldor/al/
src/aldor/aldordepfiles
src/aldor/ao/
src/aldor/ap/
src/aldor/axextend.as
src/aldor/axlit.as
src/aldor/cliques
src/aldor/cliques.mk
src/aldor/domaindepfiles
src/aldor/domains.mk
src/aldor/fricas.as
src/aldor/gendeps/
src/aldor/init_ap/
src/aldor/initlist.ap
src/aldor/lang.as
src/aldor/lib/
src/aldor/lsp/
src/aldor/Makefile2
src/aldor/Makefile3
src/aldor/minimach.as
src/aldor/runtime.ao
src/aldor/stub.as
src/aldor/subsetc.as
src/aldor/tmp/
tmp.ap
tmp.as

src/algebra/[A-Z]*.spad
src/algebra/abbrev.list
src/algebra/boot.mak
src/algebra/boot_doms.input
src/algebra/comdb.text
src/algebra/extract-spad.mk
src/algebra/libdb.text
src/algebra/komp_all.input
src/algebra/oboo3.input
src/algebra/spad.mak

src/algebra/axp/
src/algebra/r1/
src/algebra/r7/
src/algebra/rf/

src/boot/lobj_lst
src/boot/prev-stage
src/boot/stage0/
src/boot/stage1

src/doc/*.help
src/doc/*.ht
src/doc/*.input
src/doc/*.pht
src/doc/*.ps
src/doc/*.svg
src/doc/*.text
src/doc/*.VIEW

src/doc/book.aux
src/doc/book.dvi
src/doc/book.idx
src/doc/book.ind
src/doc/book.ilg
src/doc/book.log
src/doc/book.out
src/doc/book.toc
src/doc/book.pdf
src/doc/ht.db
src/doc/html/
src/doc/linalg.sfort
src/doc/pics.mk
src/doc/undo.help
src/doc/union.ht
src/doc/up.ps
src/doc/vectorRoot.ps
src/doc/vectorSin.ps
src/doc/vectors.input
src/doc/what.help
src/doc/xmpexp.ht

src/doc/tmp/
src/doc/util-ht
src/doc/util.ht
src/doc/viewports

src/etc/gen-cpl.in

src/interp/database.date

src/interp/exposed.lsp
src/interp/makeint.lisp

src/lib/libspad.a

src/lisp/do_it.sbcl
src/lisp/fricas-config.lisp
src/lisp/num_gmpx.lisp

stamp
stamp-*

target/
