Source: jlfricas
Section: math
Priority: optional
Maintainer: Grégory Vanuxem <g.vanuxem@gmail.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper,
 autotools-dev,
 sbcl,
 libgmp-dev,
 cl-hunchentoot,
 python3,
 python3-sphinx
Standards-Version: 4.7.0
Homepage: 

Package: jlfricas
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Conflicts: fricas, elpa-fricas, fricas-databases, fricas-doc, fricas-graphics, fricas-graphics-data, fricas-hypertex, fricas-hypertex-data, fricas-source, fricas-test
Description: General purpose computer algebra system: main binary and modules
 Fricas is useful for
 research and development of mathematical algorithms. It defines a
 strongly typed, mathematically correct type hierarchy. It has a
 programming language and a built-in compiler.
 .
 Fricas has been in development since 1973 and was sold as a
 commercial product. It has been released as free software.
 .
 Efforts are underway to extend this software to (a) develop a
 better user interface (b) make it useful as a teaching tool
 (c) develop an algebra server protocol (d) integrate additional
 mathematics (e) rebuild the algebra in a literate programming style
 (f) integrate logic programming (g) develop an Fricas Journal with
 refereed submissions.
 .
 This package contains a work in progress version of FriCAS that
 integrates a minimal interface to Julia.
