Source: fricas
Section: contrib/math
Priority: optional
Maintainer: Waldek Hebisch <hebisch@math.uni.wroc.pl>
Build-Depends: debhelper (>= 4.0.0), sbcl (>= 1.0.55), xorg-dev, libgmp-dev, texlive-latex-base
Standards-Version: 3.6.1.0

Package: fricas
Architecture: i386 amd64
Depends: ${shlibs:Depends}, xterm, xfonts-75dpi
Description: Open scientific computation platform.
 FriCAS is an advanced computer algebra system.  Its capabilities range from
 calculus (integration and differentiation) to abstract algebra.  It can plot
 functions and has integrated help system.
