[Desktop Entry]
Encoding=UTF-8
Name=FriCAS
Type=Application
Comment=Open scientific computation platform
Exec=fricas
TryExec=fricas
Icon=fricas
Categories=Science;Education;Math;
Terminal=true
