name: FriCAS CI on Windows

on: [push, pull_request]
permissions: {}

jobs:
  build:

    strategy:
      fail-fast: false
      matrix:
        os: [windows-2022, windows-11-arm]
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    env:
      SBCL_VER: ${{ matrix.os == 'windows-2022' && '2.3.2' || '2.6.2' }}
      ARCH: ${{ matrix.os == 'windows-2022' && 'x86-64' || 'arm64' }}
      MSYSTEM: ${{ matrix.os == 'windows-2022' && 'UCRT64' || 'CLANGARM64' }}
      INSTALL_PREFIX : ${{ matrix.os == 'windows-2022' && 'mingw-w64-ucrt-x86_64' || 'mingw-w64-clang-aarch64' }}
    defaults:
      run:
        shell: msys2 {0}

    steps:
    - uses: msys2/setup-msys2@v2
      with:
        msystem: ${{env.MSYSTEM}}
        install: make ${{env.INSTALL_PREFIX}}-gcc ${{env.INSTALL_PREFIX}}-gmp gmp-devel zip
    - name: download and install SBCL
      run: |
        wget https://downloads.sourceforge.net/project/sbcl/sbcl/${SBCL_VER}/sbcl-${SBCL_VER}-${ARCH}-windows-binary.msi
        msiexec -i sbcl-${SBCL_VER}-${ARCH}-windows-binary.msi -passive

    - uses: actions/checkout@v4
    - name: configure and make
      run: |
        export SBCL_HOME="/c/Program Files/Steel Bank Common Lisp/"
        export PATH="$SBCL_HOME":$PATH
        mkdir ../build && cd ../build
        ../fricas/configure --with-lisp=sbcl --enable-gmp || cat config.log
        make -j4 --output-sync

    - name: Create artifact archives
      run: |
        cp -rp ../build/target/*/ FriCAS-windows-${ARCH}
        rm FriCAS-windows-${ARCH}/bin/{fricas,fricas-readline}
        cp ${MINGW_PREFIX}/bin/libgmp-10.dll FriCAS-windows-${ARCH}/lib/
        zip -r FriCAS-windows-${ARCH}-${{ github.sha }}.zip FriCAS-windows-${ARCH}

    - name: Upload Windows binary
      uses: actions/upload-artifact@v4
      with:
        name: FriCAS-windows-${{env.ARCH}}-binary
        path: FriCAS-windows-${{env.ARCH}}-${{ github.sha }}.zip

    - name: make check
      run: cd ../build && make check -j4 --output-sync

    - name: Upload to nightly release
      if: ${{ github.event_name == 'push' && ( github.event.ref == 'refs/heads/master' || github.ref_type == 'tag' ) && github.repository == 'fricas/fricas' }}
      ## RELEASE_ID is:
      ## `curl https://api.github.com/${REPO_URL}/tags/nightly | jq .id`
      run: |
        export REPO_URL=repos/fricas/fricas-nightly-builds/releases
        export RELEASE_ID=74905307
        export TIMESTAMP=$(date +%Y-%m-%dT%H.%M)
        export SHA=$(echo ${{ github.sha }} | cut -c 1-8)
        export FILENAME1=FriCAS-${TIMESTAMP}-windows-${ARCH}-${SHA}.zip
        export FILENAME2=fricas-${GITHUB_REF_NAME}-windows-${ARCH}.zip
        export FILENAME=$(test "$GITHUB_REF_TYPE" != "tag" && echo $FILENAME1 || echo $FILENAME2)
        export URL=https://uploads.github.com/${REPO_URL}/${RELEASE_ID}/assets
        curl -v -X POST -H "Accept: application/vnd.github+json" \
            -H "Authorization: token ${{ secrets.releasetoken }}" \
            "${URL}?name=${FILENAME}" \
            --data-binary "@FriCAS-windows-${ARCH}-${{ github.sha }}.zip" \
            -H "Content-Type: application/zip" || true
