name: FriCAS CI on Windows

on: [push, pull_request]

jobs:
  build:

    runs-on: windows-2019
    timeout-minutes: 30
    defaults:
      run:
        shell: msys2 {0}

    steps:
    - uses: msys2/setup-msys2@v2
      with:
        install: make mingw-w64-x86_64-gcc mingw-w64-x86_64-gmp gmp-devel zip
    - name: download SBCL
      run: wget https://downloads.sourceforge.net/project/sbcl/sbcl/2.2.5/sbcl-2.2.5-x86-64-windows-binary.msi
    - name: install SBCL
      # for unknown reason, msiexec pops up a window under msys2, so use cmd instead
      shell: cmd
      run: msiexec /a sbcl-2.2.5-x86-64-windows-binary.msi TARGETDIR=C:\sbcl /qn
    - uses: actions/checkout@v2
    - name: configure and make
      run: |
        export SBCL_HOME="/c/sbcl/PFiles/Steel Bank Common Lisp/"
        export PATH="$SBCL_HOME":$PATH
        mkdir ../build && cd ../build
        ../fricas/configure --with-lisp=sbcl --enable-gmp || cat config.log
        make -j2 --output-sync
    - name: make check
      run: cd ../build && make check -j2 --output-sync
    - name: Create artifact archives
      run: |
        rm ../build/target/x86_64-w64-mingw32/bin/fricas
        mv ../build/target/x86_64-w64-mingw32 FriCAS-windows-x86_64
        zip -r FriCAS-windows-x86_64-${{ github.sha }}.zip FriCAS-windows-x86_64
    - name: Upload Windows binary
      uses: actions/upload-artifact@v2
      with:
        name: FriCAS-windows-x86_64-binary
        path: FriCAS-windows-x86_64-${{ github.sha }}.zip
